---

import HeroComponent from "../HeroComponent.astro";
import ServiciosSection from "../ServiciosSection.astro";
import NosotrosSection from "../NosotrosSection.astro";
import EquipoSection from "../EquipoSection.astro";
---

<HeroComponent/>
<section class="bg-black ">
    <div class="py-20">
        <ServiciosSection/>
        <NosotrosSection/>
        <EquipoSection/>
    </div>
</section>
