---

import HeroComponent from "../HeroComponent.astro";
import ServiciosSection from "../ServiciosSection.astro";
import NosotrosSection from "../NosotrosSection.astro";
import EquipoSection from "../EquipoSection.astro";
import CompetenciasSection from "../CompetenciasSection.astro";
import ExperienciaSection from "../ExperienciaSection.astro";

---

<HeroComponent/>
<section class="bg-black ">
    <div class="md:py-20">
        <ServiciosSection/>
        <NosotrosSection/>
        <EquipoSection/>
        <CompetenciasSection/>
        <ExperienciaSection/>
    </div>
</section>
