---
import { RingProgress } from "./RingProgress";
import blinker from "@/styles/blinker.module.css"
import { BarProgress } from "./BarProgress";

type CompetenciaCardProps = {

    text: string;
}

const { text } = Astro.props as CompetenciaCardProps;

---

<div
    class="border content-center bg-[#0c0b0b] p-10 border-[#111111] h-full w-full"
>
    <div class="flex flex-col justify-center">
        <BarProgress client:visible/>
        <!-- <RingProgress client:load /> -->

        <span class={` ${blinker.semibold} text-center mt-5 text-xl text-white`}
            >{text}</span
        >
    </div>
</div>
