---
import Container from "./Container.astro";
import blinker from "@/styles/blinker.module.css";
import { ScrollContainer } from "@/components/ScrollContainer";
---

<section class="max-w-7xl mx-auto">
    <Container idSection="#Equipo">
        <div class="px-10 py-20">
            <h1 class={`text-5xl md:text-7xl ${blinker.semibold} text-center text-white`}>
                Nuestro equipo de trabajo
            </h1>
            <p class={`${blinker.regular} text-md md:text-xl text-white text-center mt-5`}>Conce a cada uno de nuestro integrates</p>

            <ScrollContainer client:load />
        </div>
    </Container>
</section>
