---
import blinker from "@/styles/blinker.module.css";
import libre from "@/styles/librebo.module.css";
import { BoxReveal } from "./magicui/box-reveal";
import { ButtonForm } from "./ButtonForm";
import FormCitas from "./FormCitas.astro";

---

<section class="h-[100vh]" id="Inicio">
    <div class="flex justify-between items-center">
        <div class="w-full lg:w-2/5">
            <div class="max-w-7xl content-center mx-auto px-5 md:px-10">
                <h1
                    class={`text-white text-5xl 2xl:text-7xl font-bold ${libre.bold}`}
                >
                    <BoxReveal client:load>
                        Soluciones contables <br /> y profesionales <br /> para tu
                        negocio</BoxReveal
                    >
                </h1>

                <h4
                    class={`text-white my-10 md:xl 2xl:text-2xl ${blinker.light}`}
                >
                    <BoxReveal client:load
                        >Optimiza y cumple con tus obligaciones fiscales con <br
                        /> nuestro equipo de expertos contables</BoxReveal
                    >
                </h4>

                <BoxReveal client:load>
                    <div class="flex flex-wrap xl:flex-nowrap space-x-3 space-y-3 xl:space-y-0 items-center">
                        <!-- <a
                            href=""
                            class={`text-white border-3  text-center border-[#111111] ${blinker.regular} px-8 py-3 rounded`}
                            >Conocer mas
                        </a> -->
                        <ButtonForm client:load>
                            <FormCitas/>
                        </ButtonForm>
                    </div>
                </BoxReveal>

            </div>
        </div>
        <div
            class=" lg:w-3/5 h-[100vh] bg-[url('public/img/bg-hero_.jpg')] bg-cover bg-white"
        >
        </div>
    </div>
</section>
