---
import librebo from "@/styles/librebo.module.css";
import ItemNavbar from "./ItemNavbar.astro";
import { type itemNavbar } from "@/interfaces/itemNavbar";
import Logo from "./Logo.astro";


const dataItems: itemNavbar[] = [
    { path: "#Inicio", text: "Inicio" },
    { path: "#ServIcios", text: "Servicios" },
    { path: "#Nosotros", text: "Nosotros" },
    { path: "#Contacto", text: "Contacto" },
];
---

<nav class="h-24 fixed w-full z-50">
    <div class="flex flex-wrap  md:flex-nowrap w-full items-center justify-between">
        <!--FLEX CONTAINER 1 -->
        <div class="w-full md:w-2/5 bg-[#0c0b0b] px-5 flex items-center h-24">
            <Logo/>
        </div>

        <!--FLEX CONTAINER 2 -->
        <div
            id="navMenus" class="flex justify-normal md:justify-end space-x-10 px-10 items-center bg-[#0c0b0b] lg:bg-black/50 md:backdrop-blur-md w-full  md:w-3/5 h-52 md:h-24 transition-all transform duration-200"
        >
            <ul class="flex flex-wrap md:flex-nowrap z-40 text-white text-lg items-center space-x-10">
                {
                    dataItems.map(({ text, path }) => (
                        <li class="w-full md:w-auto">
                            <ItemNavbar path={path} text={text} />{" "}
                        </li>
                    ))
                }
            </ul>

            <!-- <a class={`text-black bg-white px-5 py-2 rounded-lg font-semibold text-xl ${blinker.regular}`}>
                Agendar/consultar cita
            </a> -->
        </div>
    </div>
</nav>


<script>


    document.addEventListener("DOMContentLoaded", function(){

        const navMenus = document.getElementById("navMenus") as HTMLElement; /* Evitamos que navMenus posiblemente sea
        nulo con HTMLElement */

        window.addEventListener("scroll", function(){

            if(window.scrollY > 50){

                navMenus.classList.add('bg-[#0c0b0b]');
                navMenus.classList.remove('lg:bg-black/50', 'md:backdrop-blur-md');
            } else {
                navMenus.classList.remove('bg-[#0c0b0b]');
                navMenus.classList.add('lg:bg-black/50', 'md:backdrop-blur-md');
            }
        })

        window.addEventListener("load", function(){

            if(window.scrollY > 50){

                navMenus.classList.add('bg-[#0c0b0b]');
                navMenus.classList.remove('lg:bg-black/50', 'md:backdrop-blur-md')
            }

        })

    })
</script>
