---
import blinker from "@/styles/blinker.module.css";
import Container from "./Container.astro";
import Check from "@/icons/Check.astro";
---

<section class="max-w-7xl mx-auto">
    <Container idSection="Nosotros">
        <div class="bg-[#0c0b0b]">
            <div class="flex flex-wrap lg:flex-nowrap justify-between w-full items-center">
                <div class="content-center w-full lg:w-2/4 py-20 px-10">
                    <h1 class={`${blinker.semibold} text-5xl md:text-7xl mb-10 text-white`}>
                        ¿Quienes somos? 
                    </h1>
                    <p class={`${blinker.light} text-md md:text-[18px] text-white`}>
                        Somos un despacho orgullosamente regiomontano
                        comprometido y dedicado con cada uno de nuestros
                        clientes con el objetivo de ofrecer servicios de
                        consultoría en:
                    </p>

                    <ul
                        class={`text-white my-10 text-lg md:text-2xl space-y-5 ml-10 ${blinker.semibold}`}
                    >
                        <li class="flex items-center space-x-3">
                            <Check />
                            <span>Administración</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <Check />
                            <span>Auditoría</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <Check />
                            <span>Impuestos</span>
                        </li>
                    </ul>

                    <p class={`${blinker.light} text-md md:text-[18px] text-white`}>
                        con una respuesta inmediata a sus necesidades, con
                        excelente servicio, calidad y reduciendo sus costos
                        operativos contando con herramientas de tecnología de
                        punta, con personal altamente calificado y procesos
                        estándar para el control y administración de su
                        información.
                    </p>
                </div>

                <div class="w-full lg:w-2/4 bg-cover  lg:h-full">
                    <img
                        src="src/assets/img/monterrey.jpg"
                        class=":h-full w-full lg:w-auto"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </Container>
</section>
